# This should just be used for building the docs on RTD
# I can't get the project to build on RTD right now so I'm giving up. I'll 
# leave this file in case I want to try again some day.
wheel==0.23.0
numpy==1.22.0
pandas==0.16.2
statsmodels==0.6.1

#matplotlib==1.4.3
#scikit-image==0.11.3
#GDAL==1.11.0
#geopandas==0.1.1
#rasterstats==0.5
#scipy==0.15.1
